anthropic==0.85.0
beautifulsoup4==4.14.3
click==8.3.1
cryptography==46.0.5
firecrawl-py==4.22.0
mem0ai==1.0.10
numpy==2.4.2
pillow==12.1.1
playwright==1.58.0
python-dateutil==2.9.0.post0
python-dotenv==1.2.2
requests-oauthlib==2.0.0
requests==2.33.0
stripe==14.4.0
supabase-auth==2.28.2
supabase-functions==2.28.2
supabase==2.28.2
